
.blocks {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}
.loading {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.appBody {
    width: 100%;
    max-width: 1920px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 60px;
}